@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-nunito: var(--font-nunito), sans-serif;

  --color-primary: #08979c;

  --color-secondary: #08979c;

  --color-background: #ffffff;
  --color-background-alt: #f8faff;

  --color-text-main: #161c2d;
  --color-text-muted: #506690;

  --color-footer-bg: #1a1d21;
}

@layer base {
  body {
    @apply bg-background text-text-main font-sans;
  }
}